﻿@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="row" >
    <div class="col-md-12">
        <label for="cars">Choose a car:</label>

        <select id="cars" class="col-md-12">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#cars").chosen();
        });
    </script>
}